@media (min-width: 1600px) {
  .bg-top {
    position: absolute;
    left: -15%;
    top: -60%;
    z-index: -1;
  }
  .bg-bottom {
    position: absolute;
    z-index: -1;
    right: -15%;
    bottom: -75%;
  }
}
@media (max-width: 800px) {
  .bg-top {
    position: absolute;
    left: -70%;
    top: -50%;
    z-index: -1;
  }
  .bg-bottom {
    position: absolute;
    z-index: -1;
    right: -80%;
    bottom: -40%;
  }
}

@media (max-width: 425px) {
  .bg-top {
    position: absolute;
    left: -180%;
    top: -79%;
    z-index: -1;
  }
  .bg-bottom {
    position: absolute;
    z-index: -1;
    right: -180%;
    bottom: -65%;
  }
}
